<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Vales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">

  </form>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div></div>
        </ion-col>
        <ion-col>
          <div> <button ion-button small icon-only outline>
              <ion-icon name="camera"> Camera</ion-icon>
            </button></div>
        </ion-col>
        <ion-col>
          <div> <button ion-button small icon-only outline>
              <ion-icon name="image"> Gallery</ion-icon>
            </button></div>
        </ion-col>
        <ion-col>
          <div></div>
        </ion-col>
      </ion-row>
      <img [src]="base64Image" *ngIf="base64Image" />
    </ion-grid>
    <ion-button expand="block" (click)="guardar()" [disabled]="form.invalid">Guardar credito</ion-button>
  </ion-content>