<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="entrada-salida">
      <ion-icon name="swap"></ion-icon>
      <ion-label>Entradas/Salidas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="digital">
      <ion-icon name="laptop"></ion-icon>
      <ion-label>Digital</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="analoga">
      <ion-icon name="calculator"></ion-icon>
      <ion-label>Analoga</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="credito">
      <ion-icon name="card"></ion-icon>
      <ion-label>Creditos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
