<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Digital</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-item>
      <ion-label>Manguera: </ion-label>
      <ion-select placeholder="Manguera" formControlName="manguera">
        <ion-select-option *ngFor="let manguera of mangueras" [value]="manguera.codigo_manguera">
          {{manguera.descripcion}} - {{manguera.tipo_combustible}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Galones: </ion-label>
      <ion-input type="number" formControlName="galones"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Monetario: </ion-label>
      <ion-input type="number" formControlName="monetario"></ion-input>
    </ion-item>
  </form>
  <ion-button expand="block" (click)="guardar()" [disabled]="form.invalid">Guardar digital</ion-button>
</ion-content>